<div class="products-container">
    <h1>{{title}}</h1>

    {{#if isLoggedIn}}
    {{#if isAdmin}}
    <h3>Welcome Admin - Username: {{email}} - Role: {{role}}</h3>
    <div class="btn-container">
        <a href="/api/sessions/logout" class="btn">Logout</a>
        <form action="/create-product" method="get">
            <input type="hidden" name="productId" value="{{this.id}}">
            <button class="btn submit-btn" type="submit">New product</button>
        </form>
    </div>

    {{else if isPremium}}
    <h3>Welcome {{firstName}} {{lastName}} - Username: {{email}} - Role: {{role}} - Cart ID: {{cartId}}</h3>
    <div class="btn-container">
        <a href="/profile" class="btn">My Profile</a>
        <a href="/api/sessions/logout" class="btn">Logout</a>
        <form action="/create-product" method="get">
            <input type="hidden" name="productId" value="{{this.id}}">
            <button class="btn submit-btn" type="submit">New product</button>
        </form>
        <form action="/api/carts/{{cartId}}" method="get">
            <button class="btn submit-btn" type="submit">My Cart</button>
        </form>
    </div>
    {{else}}
    <h3>Welcome {{firstName}} {{lastName}} - Username: ({{email}}) - Role: {{role}} - Cart ID: {{cartId}}</h3>
    <div class="btn-container">
        <a href="/profile" class="btn">My Profile</a>
        <a href="/api/sessions/logout" class="btn">Logout</a>
        <form action="/api/carts/{{cartId}}" method="get">
            <button class="btn submit-btn" type="submit">My Cart</button>
        </form>
    </div>
    {{/if}}
    {{/if}}

    {{#if payload.length}}
    <ul class="product-list">
        {{#if isAdmin}}
        {{#each payload}}
        <li class="product-item">
            <div class="product-title">{{this.title}}</div>
            <div class="product-description">{{this.description}}</div>
            <br>
            <div class="product-price">Price: ${{this.price}}</div>
            <div class="product-stock">Stock: {{this.stock}}</div>
            <div class="product-category">Category: {{this.category}}</div>
            <br>
            <form action="/update-product/{{this.id}}" method="get">
                <!-- input type="hidden" name="pid" value="{{this.id}}"-->
                <button class="submit-btn" type="submit">Edit product</button>
            </form>
            <form action="/api/products/{{this.id}}?_method=DELETE" method="post">
                <!-- input type="hidden" name="pid" value="{{this.id}}" -->
                <button class="delete-product" type="submit">Delete product</button>
            </form>
        </li>
        {{/each}}
        {{else if isPremium}}
        {{#each payload}}
        <li class="product-item">
            <div class="product-title">{{this.title}}</div>
            <div class="product-description">{{this.description}}</div>
            <br>
            <div class="product-price">Price: ${{this.price}}</div>
            <div class="product-stock">Stock: {{this.stock}}</div>
            <div class="product-category">Category: {{this.category}}</div>
            <br>
            {{#if (eq this.owner ../email)}}
            <form action="/update-product/{{this.id}}" method="get">
                <!-- input type="hidden" name="productId" value="{{this.id}}" -->
                <button class="submit-btn" type="submit">Edit product</button>
            </form>
            <form action="/api/products/{{this.id}}?_method=DELETE" method="post">
                <!-- input type="hidden" name="productId" value="{{this.id}}" -->
                <button class="delete-product" type="submit">Delete product</button>
            </form>
            {{else}}
            <form action="/add-to-cart" method="post">
                <input type="hidden" name="productId" value="{{this.id}}">
                <label for="quantity-{{this.id}}">Quantity:</label>
                <input type="number" id="quantity-{{this.id}}" name="quantity" min="1" value="1" required>
                <button class="submit-btn" type="submit">Add to Cart</button>
            </form>
            {{/if}}
        </li>
        {{/each}}
        {{else}}
        {{#each payload}}
        <li class="product-item">
            <div class="product-title">{{this.title}}</div>
            <div class="product-description">{{this.description}}</div>
            <br>
            <div class="product-price">Price: ${{this.price}}</div>
            <div class="product-stock">Stock: {{this.stock}}</div>
            <div class="product-category">Category: {{this.category}}</div>
            <br>
            <form action="/add-to-cart" method="post">
                <input type="hidden" name="productId" value="{{this.id}}">
                <label for="quantity-{{this.id}}">Quantity:</label>
                <input type="number" id="quantity-{{this.id}}" name="quantity" min="1" value="1" required>
                <button class="submit-btn" type="submit">Add to Cart</button>
            </form>
        </li>
        {{/each}}
        {{/if}}
    </ul>

    <p>Current page: {{page}}</p>

    <div class="pagination">
        {{#if hasPrevPage}}
        <div class="pagination-item">
            <a href="/products?page={{prevPage}}" class="pagination-link">Prev</a>
        </div>
        {{/if}}

        {{#if hasNextPage}}
        <div class="pagination-item">
            <a href="/products?page={{nextPage}}" class="pagination-link">Next</a>
        </div>
        {{/if}}
    </div>

    {{else}}
    <p>No products found</p>
    {{/if}}
</div>