<h1>New Product form</h1>

<div>
    <form id="add-product-form" action="/realtimeproducts" method="post">
        <label for="title">Título:</label>
        <input type="text" id="title" name="title" required><br>

        <label for="description">Descripción:</label>
        <input type="text" id="description" name="description" required><br>

        <label for="price">Precio:</label>
        <input type="number" id="price" name="price" required><br>

        <label for="thumbnails">Imágenes:</label>
        <input type="text" id="thumbnails" name="thumbnails" required><br>

        <label for="code">Código:</label>
        <input type="text" id="code" name="code" required><br>

        <label for="stock">Stock:</label>
        <input type="number" id="stock" name="stock" required><br>

        <label for="category">Categoría:</label>
        <input type="text" id="category" name="category" required><br>

        <button type="submit">Agregar Producto</button>
    </form>
</div>

<h1>Lista de Productos en Tiempo Real</h1>

<div>
    <ul id="product-list" class="product-list">
        {{#each products}}
        <li id="{{this.id}}" class="product-item">
            <div class="product-title">{{this.title}}</div>
            <div class="product-description">{{this.description}}</div>
            <div class="product-price">Price: ${{this.price}}</div>
            <div class="product-stock">Stock: {{this.stock}}</div>
            <div class="product-category">Category: {{this.category}}</div>
            <form action="/add-to-cart" method="post">
                <input type="hidden" name="productId" value="{{this.id}}">
                <button class="submit-btn" type="submit">Add to Cart</button>
            </form>
            <button class="delete-product" data-product-id="{{this.id}}">Eliminar</button>
        </li>
        {{/each}}
    </ul>
</div>